html,
body {
  margin: 0;
  padding: 0;
  background-image: url("images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  #spl {
    margin-top: 127%;
  }
}

@media only screen and (min-width: 1200px) {

  /* For mobile phones: */
  #spl {
    margin-top: 37%;
  }
}

::-webkit-scrollbar {
  display: none;
}


#globe {
  position: center;
  z-index: 2;
  cursor: move;
}

#current {
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}

.p {
  font-size: 114px;
}

.bg-brown {
  border: 2px solid brown;
  background-color: brown;
  color: white;
}

.bg-gray {
  border: 2px solid gray;
  background-color: gray;
  color: white;
}

.bg-green {
  border: 2px solid green;
  background-color: green;
  color: white;
}

.bg-blue {
  border: 2px solid blue;
  background-color: blue;
  color: white;
}

.bg-pink {
  border: 2px solid pink;
  background-color: pink;
  color: white;
}

.bg-red {
  border: 2px solid red;
  background-color: red;
  color: white;
}

.bg-purple {
  border: 2px solid purple;
  background-color: purple;
  color: white;
}

.bg-yellow {
  border: 2px solid yellow;
  background-color: yellow;
  color: white;
}


canvas {
  position: absolute;
}

.dust-wrap {

  position: relative;
  -webkit-perspective: 3px;
  perspective: 3px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-destination: 0% 100%;
  scroll-snap-destination: 0% 100%;
  -ms-scroll-snap-points-y: repeat(100%);
  scroll-snap-points-y: repeat(100%);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

@supports ((-ms-scroll-snap-type: y mandatory) or (scroll-snap-type: y mandatory)) {
  .dust-wrap {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
  }
}

#canvas {

  height: 100%;
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}

#canvas-two {
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}