html,
body {
  margin: 0;
  padding: 0;
  background-image: url("assets/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
#leaderboard {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 15;
}
#nthg {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 15;
}
#leaderboard img{
  width: 36px;
 
}


@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  #spl {
    margin-top: 127%;
  }
}

@media only screen and (min-width: 1200px) {

  /* For mobile phones: */
  #spl {
    margin-top: 37%;
  }
}

::-webkit-scrollbar {
  display: none;
}


#globe {
  overflow: visible;
  position: center;
  z-index: 2;
  cursor: move;
}

#current {
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}



.bg-red {
  background-color: red;
  color: white;
}

hr.rounded {
  border-top: 2px solid white;
  border-radius: 5px;
}

canvas {
  position: absolute;
}

.dust-wrap {

  position: relative;
  -webkit-perspective: 3px;
  perspective: 3px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-destination: 0% 100%;
  scroll-snap-destination: 0% 100%;
  -ms-scroll-snap-points-y: repeat(100%);
  scroll-snap-points-y: repeat(100%);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

@supports ((-ms-scroll-snap-type: y mandatory) or (scroll-snap-type: y mandatory)) {
  .dust-wrap {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
  }
}

#canvas {

  height: 100%;
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}

#canvas-two {
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}


@media only screen and (min-width: 800px) {
#footer {
  bottom: 20px;
  width: 100%;
}
}
@media only screen and (max-width: 768px) {
  #footer {
    bottom: 60px;
    width: 100%;
  }
  }
#footer, #header {
  position: absolute;
  text-align: center;
  color: #fff;
  z-index: 10;
}